@import url("file:///home/altafurry/.cache/wal/colors-waybar.css");

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    border: none;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

#custom-logo,
#clock,
#workspaces,
#tray,
#custom-updates,
#bluetooth,
#pulseaudio,
#network,
#battery,
#custom-notification,
#custom-power {
    background: @background-alpha;
    border-radius: 12px;
    border: 1px solid @color4-alpha;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    padding: 5px 12px;
    margin: 4px 3px;
    color: @foreground;
}

#custom-logo {
    font-size: 16px;
    color: @color2;
}

#clock {
    color: @color6;
    font-weight: 600;
}

#workspaces {
    padding: 4px 12px;
}

#workspaces button {
    padding: 4px 8px;
    margin: 0 2px;
    background: transparent;
    color: @color5;
    border-radius: 8px;
}

#workspaces button.active {
    color: @color2;
    background: @color2-alpha;
}

#workspaces button:hover {
    background: @color5-alpha;
}

#custom-updates {
    color: @color2;
}

#bluetooth {
    color: @color4;
}

#pulseaudio {
    color: @color3;
}

#network {
    color: @color4;
}

#battery {
    color: @color2;
}

#battery.warning {
    color: @color3;
}

#battery.critical {
    color: @color1;
}

#custom-notification {
    color: @color4;
}

#custom-power {
    color: @color1;
    background: @color1-alpha;
}

#tray {
    color: @color5;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
